.flex-container {
    display: flex;
    flex-direction: row; /* This is the default value, so it's optional */
    justify-content: start; /* Adjusts the spacing between items */
    align-items: top; /* Aligns items vertically in the center */
    //height: 100vh; /* Full viewport height */
  }
  
  .flex-item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
  }